<% layout('/base') -%>
<br/>
<br/>

<div class="hero-full-container background-image-container white-text-container" 
      style="height: 75%;
            background-position: center;
            background-repeat: no-repeat; 
            background-size: contain; 
            background-image:url('<%= data.imgs.imgMain %>')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content  text-center">

              <p><%= data.imgs.descMain %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">
              <% if(data.order < 9){ %>
                0<%= data.order %>
              <% } else{ %>  
                <%= data.order %>
              <% } %>            
            </span><%= data.headline %></h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
                <div class="section-container-spacer">
                  <h3>Project:</h3>
                  <h5><%= data.category %></h5>
                  <h4>Started:</h4>
                  <p><%= data.createdAt %></p>
                </div>
  
                <h4>Technologies:</h4>
                
                <ul class="list-unstyled">
                  <% for(var i=0; i<technologies.length; i++) {%>
                    <li><%= technologies[i] %></li>
                  <% } %>
                </ul>
            </div>
            <div class="col-md-8">
              <h3><%= data.position %></h3>
              <br/>
              <p  style="text-align:center;"><%= data.description.description1 %></p>
              <br/>
              <br/>
              <p style="text-align:center;"><%= data.description.description2 %></p>
            </div>
          </div>
          <img src="<%= data.imgs.img1 %>" alt="" class="img-responsive" style="object-fit: scale-down; ">
          <p><%= data.imgs.descImg1 %></p>
          <br />
          <br />
          <p style="text-align:center;"><%= data.description.description3 %></p>
          <blockquote class="text-center large-spacing">
              <p>"<%= data.qoute %>"</p>
          </blockquote>
          <h4>Most Significant Events:</h4>
          <div class="row">
              <div class="col-md-6">
              <img src="<%= data.imgs.img2 %>" class="img-responsive" alt="" style="object-fit: scale-down; ">
              <p><%= data.imgs.descImg2 %></p>
              </div>
              <div class="col-md-6">
                <img src="<%= data.imgs.img3 %>" class="img-responsive" alt="" style="object-fit: scale-down; ">
                <p><%= data.imgs.descImg3 %></p>
              </div>
          </div>
  
          <img src="<%= data.imgs.img4 %>" class="img-responsive" alt="">
          <p><%= data.imgs.descImg4 %></p>
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <% if(data.order !== 1){ %> 
            <ul class="navbar-nav nav">
              <li>
                <a href="/projects?project=<%= data.order - 1 %>" title="" class="project-nav left"><span class="project-number"><%= data.order - 1 %></span>Previous</a>
              </li>
            </ul>
          <% } else{ %>  
          <% } %>
          <p class="h5 navbar-text"><%= data.headline %><i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>
          <% if(total !== data.order){ %>
            <ul class="navbar-nav nav navbar-right">
              <li>
                <a href="/projects?project=<%= data.order + 1 %>" title="" class="project-nav right"><span class="project-number"><%= data.order + 1 %></span>Next </a>
              </li>
            </ul>
          <% } else{ %>  
          <% } %>
        </div>
      </div>
    </div>
  </div>
